<h1 class="user_title">
	<%= current_user.first_name %>
	<%= current_user.last_name %>
	さんのMyPage
</h1>
<div class="container-fluid user_show_container">
	<div class="row">
		<h4>
			<span class="user_info">
			会員情報
			</span>
		</h4>
		<div class="user_info_box">
			<div class="name_box1">名前：
				<%= current_user.first_name %>
				<%= current_user.last_name %>
			</div>
			<div class="name_box2">なまえ：
				<%= current_user.first_name_kana %>
				<%= current_user.last_name_kana %>
			</div>
			<div class="email_box">Eメール：
				<%= current_user.email %>
			</div>
			<div class="tel_box">TEL：
				<%= current_user.phone_number %>
			</div>
			<div class="zip_code_box">ZIP：
				<%= current_user.zip_code %>
			</div>
			<div class="address_box">住所：
				<%= current_user.prefecture.name %>
				<%= current_user.address_city %>
				<%= current_user.address_building %>
			</div>
			<div class="fixed_btn">
				<%=link_to "修正する", edit_user_registration_path,class: "btn btn-default btn-lg form_btn_box " %> 
			</div>
		</div>
		<h4>
			<span class="purchase_history">
			購入履歴
			</span>
		</h4>
		<div class="purchase_histories_box">
			<table>
				<thead>
					<tr>
						<th>商品</th>
						<th>個数</th>
						<th>金額</th>
						<th>日時</th>
					</tr>
				</thead>
				<tbody>
					<% @order_history.each do |oh| %>
						<tr>
							<td><%= oh.item.item_name %></td>
							<td><%= oh.count %></td>
							<td><%= oh.count*oh.item.price %></td>
							<td><%= oh.updated_at.strftime("%Y年%m月%d日") %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="delete_user_btn">
			<%= link_to "退会する", registration_path(current_user), data: { confirm: "本当に退会しますか?" }, method: :delete, class: "btn btn-default btn-lg form_btn_box " %>
		</div>
	</div>
</div>













































