<h1 class="order_title">CheckOut</h1>
<div class="container-fluid">
  <div class="row">
    <%= form_for @order, url:orders_path,method: :post do |f| %>
      <div class="form_box">
        <div class="form_name_box1">
          <div class="form_name_sub_box1 col-md-6">
            <%= f.label :姓・漢字 %><br />
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :placeholder => "例）山田", class: 'form-control' %>
          </div>
          <div class="form_name_sub_box2 col-md-6">
            <%= f.label :名・漢字 %><br />
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", :placeholder => "例）太郎", class: 'form-control' %>
          </div>
        </div>
        <div class="form_name_box2">
          <div class="form_name_sub_box3 col-md-6">
            <%= f.label :姓・かな %><br />
            <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", :placeholder => "例）やまだ", class: 'form-control' %>
          </div>
          <div class="form_name_sub_box4 col-md-6">
            <%= f.label :名・かな %><br />
            <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", :placeholder => "例）たろう", class: 'form-control' %>
          </div>
        </div>
        <div class="form_phone_number_box">
          <%= f.label :電話番号 %><br />
          <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", :placeholder => "例）0312345678", class: 'form-control' %>
        </div>
        <div class="form_zip_code_box">
          <%= f.label :郵便番号 %><br />
          <%= f.text_field :zip_code, autofocus: true, autocomplete: "zip_code", :placeholder => "例）〒000-0000", class: 'form-control' %>
        </div>
        <div class="form_prefecture_box">
          <%= f.label :都道府県 %><br />
          <%= f.collection_select :prefectures, JpPrefecture::Prefecture.all, :code, :name, :prompt => "選択して下さい" %>
        </div>
        <div class="form_city_box">
          <%= f.label :市区町村・丁目／番地／号 %><br />
          <%= f.text_field :address_city, autofocus: true, autocomplete: "address_city", :placeholder => "例）◯◯市☓☓町1-2-3", class: 'form-control' %>
        </div>
        <div class="form_building_box">
          <%= f.label :建物名・ビル名 %><br />
          <%= f.text_field :address_building, autofocus: true, autocomplete: "address_building", :placeholder => "△△ビルディング101号室", class: 'form-control' %>
        </div>
        <div class="total_price_box">
          <h2>TotalPrice</h2>
          合計金額は
          <span><%= total_price(current_user.id) %></span>
          円です
        </div>
        <div class="submit_box">
          <%= f.submit '購入' %>
        </div>
      </div>
    <% end %>
  </div>
</div>