<div class="container">

    <h2 class="text-center">会員登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>


    <div class="form-group">
        <div class="form_name_box1">
          <div class="col-sm-6">
              <div class="form_name_sub_box1">
                <div class="form_name_field">
                  <%= f.label :姓・漢字 %><br />
                  <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :placeholder => "例）山田", class: 'form-control' %>
                </div>
               </div>
            </div>

              <div class="col-sm-6">
                <div class="form_name_sub_box2"> 
                  <div class="form_name_field">
                  <%= f.label :名・漢字 %><br />
                  <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", :placeholder => "例）太郎", class: 'form-control' %>
                  </div>
              </div>
          </div>
      </div>

      <div class="form-group">
        <div class="form_name_box2">
          <div class="col-sm-6">
                <div class="form_name_sub_box3">
                  <div class="form_name_field">
                    <%= f.label :姓・かな %><br />
                    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", :placeholder => "例）やまだ", class: 'form-control' %>
                  </div>
                </div>
          </div>

          <div class="col-sm-6">
              <div class="form_name_sub_box4">
                <div class="form_name_field">
                <%= f.label :名・かな %><br />
                <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", :placeholder => "例）たろう", class: 'form-control' %>
                </div>
              </div>
          </div>
       </div>
      </div>
            <div class="form_email_box">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "sample@email.com", class: 'form-control' %>
            </div>

          <div class="form_password_box1">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" ,:placeholder => "６文字以上", class: 'form-control'%>
          </div>

          <div class="form_password_box2">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "６文字以上", class: 'form-control' %>
          </div>

          <div class="form_city_box">
            <%= f.label :郵便番号 %><br />
            <%= f.text_field :zip_code, autofocus: true, autocomplete: "zip_code", :placeholder => "例）〒000-0000", class: 'form-control' %>
          </div>

          <div class="form_prefecture_box">
            <%= f.label :都道府県 %><br />
            <select>
              <label>
              <option>選択して下さい</option>
              <option>北海道</option>
              <option>東京都</option>
              <option>沖縄県</option>
              </label>
            </select>
          </div>

          <div class="form_city_box">
            <%= f.label :市区町村・丁目／番地／号 %><br />
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :placeholder => "例）◯◯市☓☓町1-2-3", class: 'form-control' %>
          </div>

          <div class="form_building_box">
            <%= f.label :建物名・ビル名 %><br />
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :placeholder => "△△ビルディング101号室", class: 'form-control' %>
          </div>  

        <% if @noadmin %>
          <div>
            <%= f.label :admin %><br />
            <%= f.check_box :admin_flag, { }, true, false %>
          </div>
        <% end %>

        <div class="text-center">
          <%= f.submit "会員登録",class: "btn btn-default btn-lg form_btn_box" %> 
        </div>
      </div>
    <% end %>
  </div>
</div>